#divBusca {
    display: flex;
    align-items: center; 
  }
  
  #btnEntrar{
    color: black;
    margin-top: -90px;
    margin-left: -30px;
  }
  
  #imgLogo {   
    margin-top: -100px;
    margin-right: 10px; 
  }
  
  #txtBusca {
    margin-top: -90px;
    height: 40px;
    width: 700px; 
    padding: 5px;
    border: 2px solid #ccc; 
    border-radius: 20px; 
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: -90px;
  }
  
  img {
    max-height: 100%; 
    width: auto; 
  }
  
  #telefone,
  #favorito,
  #sacola,
  #perfil {
    width: 35px;
    margin-right: 30px;
    margin-top: -90px;
  }
  
  #favorito{
  height: 30px;
  }
  #sacola{
  height: 30px;
  }
  
  #telefone{
  height: 30px;
  margin-left: 30px;
  }
  
  
  #home,
  #cachorro,
  #gato,
  #peixe,
  #passaro,
  #outros,
  #servico {
    color: black;
    margin: 20px;
    margin-left: 60px;
    text-decoration: none;
    transition: transform 500ms linear; 
  }
  #home{
    margin-left: 150px;
  }
  
  #home:hover,
  #cachorro:hover,
  #gato:hover,
  #peixe:hover,
  #passaro:hover,
  #outros:hover,
  #servico:hover {
    transform: scale(1.5);
  }
  
  .opcao {
    background-image: linear-gradient(to right, rgba(123, 104, 238), rgb(75, 0, 130));
    border: 2px solid black;
    border-radius: 110px;
    margin-top: -80px;
    font-size: 25px;
    display: flex; 
    width: 80%;
    margin-left: 200px;
    height: 70px;
  }

#btnEntrar{
    color: black;
    margin-top: -90px;
    margin-left: -30px;
}

#telefone
{
    margin-left: 30px;
    height: 30px;
}

#cepTotalContainer {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

#imgLogo{
    margin-left: 200px;
  }